<!DOCTYPE html>
<html>
	<head>
		<meta name="description" 
	      content="">
	      <meta name="author" content="Dhruv Mehrotra + Zoe Bachman">
	      <link rel="stylesheet" type="text/css" href="./static/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="./static/css/style.css" />
	    <title>EMPTI</title>
		<script type="text/javascript" src="./static/js/jquery.js"></script>
		
	</head>
	<body>
		<div class="wrapper">
			<div class="navbar">
			   <div class="navbar-inner">
			     <div class="container">
			       <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			         <span class="icon-bar"></span>
			         <span class="icon-bar"></span>
			         <span class="icon-bar"></span>
			       </a>
			       <a class="brand" href="">
			       	<img src="/static/img/bancoldex.gif" width='50' height='50'alt="">
			       	<span class='brand-name'>Bancoldex</span>
			       </a>
			        <ul class="nav" id="main-menu-left">
			  
			          <li><a href="#">Company Policies</a></li>
			          <li><a href="#">Internal Email</a></li>
			          <li><a href="#">Events</a></li>
			          <li><a href="#">News</a></li>
			        </ul>

			     </div>
			   </div>
			 </div>
		 
			 <section id="tables">
				<div class="page-header">
					<h1>Employee Monitoring Protocol Transmission Interface</h1>
				</div>	
				<div class="alert alert-block">
		        	<a class="close">×</a>
	          		<img class="pull-left" style="margin-top: -8px" src="/static/img/test/drudgesiren.gif" width="80">
		        	<h4 class="alert-heading">Alert block</h4>
		        	<p>Monitor Employee Stats here! Be sure to  encourage them with a gentle buzz</p>
		      	</div>

			  
			  <table class="table table-bordered table-striped table-hover">
			    <thead>
			      <tr>
			        <th>#</th>
			        <th>First Name</th>
			        <th>Last Name</th>
			        <th><img src="/static/img/test/americanflag.gif" width='30' height='30'>Productivity Score <img src="/static/img/test/americanflag.gif" width='30' height='30'></th>
			        <th>Encourage ;) </th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr>
			        <td>1</td>
			        <td>Leon</td>
			        <td>Otto</td>
			        <td class='real-employee'>11</td>
			        <td><a class="btn btn-primary r-encourage" href="#">Encourage</a></td>
			      </tr>
			      <tr>
			        <td>2</td>
			        <td>Jacob</td>
			        <td>Thornton</td>
			        <td>11</td>
			        <td><a class="btn btn-primary encourage" href="#">Encourage</a></td>
			      </tr>
			      <tr>
			        <td>3</td>
			        <td>Larry</td>
			        <td>the Bird</td>
			        <td>11</td>
			        <td><a class="btn btn-primary encourage" href="#">Encourage</a></td>
			      </tr>
			    </tbody>
			  </table>
			</section>
		 </div>
	</body>
<script>
	$(document).ready(function(){
		var prev = 0;
		var buzzing = false;
		$('.r-encourage').on("click",function(){
			if (buzzing == false){

				$.get("http://localhost:8080/buzz",function(data,status){
					$('.r-encourage').html('Enough');
					buzzing = true;
				})	
			}else{

				$.get("http://localhost:8080/stop",function(data,status){
					$('.r-encourage').html("Encourage");
					buzzing = false;
				})
			}	
		})
		setInterval(checkData, 1000)
		function checkData(){
			$.get("http://localhost:8080/getData",function(data,status){
				score = check(data)
				$('.real-employee').html(score)
			
			})	
		}
		function check(score){
			
			productivity_score = Math.abs(score - prev);
			prev = score;
			return productivity_score;

		}
	})
</script>
</html>